<!-- <div class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="section-type-a wow">
                    <div class="wrap-title-bg">
                        <h2 class="ui-title-bg">{{header}}</h2>
                    </div>
                    <div data-min480="1" data-min768="2" data-min992="2" data-min1200="4" data-pagination="false"
                        data-navigation="true" data-auto-play="4000" data-stop-on-hover="true"
                        class="owl-carousel owl-theme enable-owl-carousel">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <article class="post post-1 clearfix wow fadeInDown" data-wow-delay="0.25s">
                                    <div class="entry-media">
                                        <a href="assets\media\content\post\285x300\1.jpg" class="prettyPhoto">
                                                <img src="../../../assets/images/pexels-photo-2881370.jpeg" alt="Foto"
                                                class="img-responsive">
                                        </a>
                                        <h2 class="entry-title">Lorem ipsum dolor sit amet</h2>
                                    </div>
                                    <a class="label bg-1"><i class="fa fa-facebook"></i></a>
                                    <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                                class="entry-meta__link">feb 30, 2016</a></span><span
                                            class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <article class="post post-1 clearfix wow fadeInUp" data-wow-delay="0.25s">
                                    <div class="entry-media"><a href="assets\media\content\post\285x300\2.jpg"
                                            class="prettyPhoto">
                                            <img src="../../../assets/images/pexels-photo-2881370.jpeg" alt="Foto"
                                                class="img-responsive"></a>
                                        <h2 class="entry-title">elit sed eiusmod tempor</h2>
                                    </div>
                                    <a class="label bg-1"><i class="fa fa-instagram"></i></a>
                                    <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                                class="entry-meta__link">feb 30, 2016</a></span><span
                                            class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                                </article>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <article class="post post-1 clearfix wow fadeInDown" data-wow-delay="0.25s">
                                    <div class="entry-media"><a href="assets\media\content\post\285x300\3.jpg"
                                            class="prettyPhoto">
                                            <img src="../../../assets/images/pexels-photo-2881370.jpeg" alt="Foto"
                                                class="img-responsive"></a>
                                        <h2 class="entry-title">dolore magna aliqua Ut enim</h2>
                                    </div>
                                    <a class="label bg-1"><i class="fa fa-twitter"></i></a>
                                    <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                                class="entry-meta__link">feb 30, 2016</a></span><span
                                            class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                                </article>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div> -->