<footer class="footer-wrap-layout2">
    <div class="container">
        <div class="footer-box-layout2">
            <div class="row">

                <div class="col-md-3">
                    <img src="{{logo}}" alt="logo" class="img-fluid">
                </div>
             
                <div class="col-md-6">
                    <h3 class="text-justify text-white">
                        بوابة الثقافة المصرية إنسان بلا ثقافة كشجرة بلا ثمار
                    </h3>
                    <p class="text-justify text-white" style="font-size: 16px">
                        تعد بوابة الثقافة هي المنصة الاولي من نوعها التي تحتوي علي كنز ثقافي نادر لاعلاء المستوي الثقافي للمثقفين وللافراد المرتبطين ارتباط وثيق بالجهات الثقافية في محافظات مصر المختلفة ويعد شعار البوابة والهدف منها هو الوصول الي 100 مليون مثقف مصري ونشر الثقافة المصرية واعلاء قامتها بين دول العالم اجمع عامة ودول افريقيا خاصة . تعمل البوابة ايضا علي تيسير الخدمات التي تقدمها الوزارة من خلال مكاتبها في مختلف المحافظات عن طريق السماح للمواطنين بالتقديم علي خدماتهم الكترونيا واستخراج التراخيص الازمة
                    </p>
                </div>
               
                <div class="col-md-3 text-right">
                    <h3 class="text-justify text-white">
                        اتصل بنا
                    </h3>
                    <p class="text-white">  2 شارع شجرة الدر - الزمالك - القاهرة <i class="fa fa-location-arrow"></i></p>
                    <p class="text-white"> (202+) 27485065 / (202+) 27486957 <i class="fa fa-phone"></i> </p>
                    <p class="text-white"> media@moc.gov.eg <i class="fa fa-envelope"></i> </p>
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/Culture-Gate-103834857931056/?ref=page_internal" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGw9Yn-_j6CpysvnhVUeT4w/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>


            </div>
            <div class="copyright" dir="ltr">© 2020 Culture Gate All rights reserved.</div>
        </div>
    </div>
</footer>