@import "../../../styleMain.css";

img{
    width: 100% !important;
    height: 200px !important;
}
.blog-box-layout5{
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(224, 224, 224, 0.75);
    box-shadow: 0px 1px 7px 0px rgba(224, 224, 224, 0.75);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height:300px;
    overflow:hidden;

}
.inputControl{
    position: relative;
  }
.fa-search{
  position: absolute;
  left: 36px;
  top: 35px;
  font-size: 27px;
  color: #b0b0b0;
  
}
.inputSearch {
    margin-top: 2%;
    margin-bottom: 20px;
    padding: 26px 17px;
    text-align: right;
    box-shadow:inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05)
}
.inputSearch , input::-webkit-input-placeholder{
    font-size:25px;
} 

.lastBook{
    position: absolute;
    bottom: 38.5%;
    right: 15px;
    background: #fd0017;
    color: white;
    border-radius: 5px;
    padding: 10px 2px 0 2px;
}

.lastBook h6{
    font-size: 14px;
    color: white;
    margin-top: 6px;
}