@import "../../../styleMain.css";

.slideDiv{
    /* text-align: right; */
    background: white;
    border-radius: 5px;
    padding: 5px 5px;
    width: 88%;
    position: absolute;
    bottom: -74px;
    z-index: 100;
    text-align: center;
    left: 6%;
}
.contetForEventEnglish{
    text-align: left;
}
.contetForEventArabic{
    text-align: right;
}