<div class="all">
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10">
                <h2>
                    Stay Updated With News
                    ANYTIME ANYWHERE
                    GET FREE MOBILE APP & ENJOY READING NEWS!
                </h2>
            </div>
            <div class="col-lg-2 apps col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 wow jackInTheBox" data-wow-delay="0.25s">
                <i class="icon fa fa-apple"></i><br>
                <a href="home.html" class="downloads__btn">for Apple iOS</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 apps wow jackInTheBox" data-wow-delay="0.25s">
                <i class="icon fa fa-android"></i><br>
                <a href="home.html" class="downloads__btn">for Android </a>
            </div>
        </div>
    </div>
</div>
<div class="Cover"></div>
</div>