.main{
    height:400px;
     position: relative;
  }
  .masg {
      position: absolute;
      left: 12%;
      top: 39%;
      right: 11%;
      text-align: center;
      font-size: 23px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px 10px 30px 10px ;
  }
  .masg h1{
      margin: 10px;
  }