<div class="mainDiv" *ngIf="!showMasg">
    <div class="container">
        <div class="row">
            <div style="cursor: pointer ;" class="col-md-4 pull-right afterRow" *ngFor="let item of Arr"
                (click)="goToDet(item.ID)" [ngClass]="{
                    'pull-left' : lang === 2 || lang === 2,
                    'text-left' : lang === 2 || lang === 3
                }">
                <div class="card">
                    <img src="https://via.placeholder.com/250" class="img-responsive">
                    <div>
                        <h3>{{item.Name}}</h3>
                        <span>{{item.StartDate | date: 'dd-MM-yyyy'}}</span>
                        <span style="margin-left: 6px;"><i class="fa fa-calendar"></i></span>
                        <div class="date">
                            <span>{{item.Cost}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main" *ngIf="showMasg">
    <div class="masg">
        <h1>عفوا لا توجد اخبار جديدة</h1>
    </div>
</div>

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.9)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner> *ngIf="showMasg" -->