<div class="mainDiv" >
    <div class="container">
        <div class="row">
            <div style="cursor: pointer ;" class="col-md-4 pull-right afterRow" *ngFor="let item of Arr"
                (click)="goToDet(item.Id)">
                <div class="card">
                    <img src="{{item.Image}}" class="img-responsive">
                    <div>
                        <h3>{{item.Name}}</h3>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>


