.mainDiv{
    text-align: right;
    margin-top: 5%;
}
.mainDiv img{
    width:100%;
    height: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top:20px;
    border-radius: 20px;
    padding-right:0;
    padding-left: 0; 
  }
  
  .card div {
      padding: 0 10px 10px 10px ;
  }
  .main{
    height:400px;
     position: relative;
  }
  .masg {
      position: absolute;
      top: 39%;
      right:27%;
      width: 600px;
      height: 100px;
      text-align: center;
      font-size: 23px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px 10px 30px 10px ;
  }
  .masg h1{
      margin: 10px;
  }
  .afterRow{
      position: relative;
  }
  .date{
    position: absolute;
    background: #04212d;
    top: 20px;
    width: 113px;
    left: 15px;
    color: white;
    padding: 10px !important;
    text-align: center;
    border-radius: 0 0 10px 0px;
  }