.mainDiv{
    text-align: right;
    margin-top: 5%;
}
.mainDiv img{
    width:500px;
    height: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top:20px;
    border-radius: 20px;
    padding-right:0;
    padding-left: 0; 
  }
  
  .card div {
      padding: 0 10px 10px 10px ;
  }