<!-- start setting -->
<section class="setting">
    <div class="container">
        <div class="row">
            <div class="container">
              <div class="col-md-4">
                <ul class="list-group help-group">
                      <div class="faq-list list-group nav nav-tabs" id="con" (click)="goActive(e)">
                        <a href="#tab0" class="list-group-item activee" role="tab" data-toggle="tab">حالة الطلب</a>
                        <a href="#tab1" class="list-group-item disabled" role="tab" data-toggle="tab" > السداد</a>
                        <a href="#tab2" class="list-group-item disabled" role="tab" data-toggle="tab" >ميعاد الاستلام</a>
                      </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content panels-faq">
                      <div class="tab-pane active" id="tab0">
                        <div class="panel-group" id="tabOneStyle">
                            <h1>جاري التاكد من حالة الطلب</h1>
                        </div>
                        <!-- s -->
                      </div>
                      <div class="tab-pane" id="tab1">
                
                      </div>
                      <div class="tab-pane" id="tab2">
                       
                      </div>
                </div>    
              </div>
            </div>
        </div>
    </div>
</section>
<!-- end setting -->