<div class="page" style="text-align:right;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="section-type-a ">
                    <div class="wrap-title-bg">
                        <h2 class="ui-title-bg">احدث المواضيع</h2>
                    </div>
                    <div class="row">
                        <div style="border-radius: 10px"
                            class="col-lg-3 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                            <article class="post post-1 clearfix">
                                <div class="entry-media">
                                    <img src="{{imgNews}}" alt="Foto" class="img-responsive">
                                    <h2 class="entry-title">{{nameNews}}</h2>
                                    <div class="cover"></div>
                                </div>
                                <span class="label bg-1">الأخبار</span>
                                <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                            class="entry-meta__link">{{dateNews | date: 'dd-MM-yyyy'}}</a></span><span
                                        class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                            </article>
                        </div>
                        <div
                            class="col-lg-3 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-5 col-xs-11 col-xs-offset-1">
                            <article class="post post-1 clearfix">
                                <div class="entry-media">
                                    <img src="{{imgEvent}}" alt="Foto" class="img-responsive">
                                    <h2 class="entry-title">{{nameEvent}}</h2>
                                    <div class="cover"></div>
                                </div><span class="label bg-2">الأحداث</span>
                                <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                            class="entry-meta__link">{{dateEvent | date: 'dd-MM-yyyy'}}</a></span><span
                                        class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                            </article>
                        </div>
                        <div
                            class="col-lg-3 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-11 col-xs-offset-1 artWorks">
                            <article class="post post-1 clearfix">
                                <div class="entry-media">
                                    <img src="{{imgArtWorks}}" alt="Foto" class="img-responsive">
                                    <h2 class="entry-title">{{nameArtWorks}}</h2>
                                    <div class="cover"></div>
                                </div><span class="label bg-5">الأعمال الفنية</span>
                                <div class="entry-meta"><span class="entry-meta__item"><a href="news_details-1.html"
                                            class="entry-meta__link">{{dateArtWork | date: 'dd-MM-yyyy'}}</a></span><span
                                        class="entry-meta__item"><i class="icon pe-7s-comment"></i></span></div>
                            </article>
                        </div>
                        <div
                            class="col-lg-3 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-5 col-xs-11 col-xs-offset-1 artWorks">
                            <article class="post post-1 clearfix">
                                <div class="entry-media"><a href="{{imgReles}}" class="prettyPhoto">
                                        <img src="{{imgReles}}" class="img-responsive"></a>
                                    <h2 class="entry-title">{{nameReles}}</h2>
                                    <div class="cover"></div>

                                </div><span class="label bg-7">الأصدارات</span>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>