@import "../../../styleMain.css";
.slider-wrap-layout7{
    padding: 7rem 0 11.5rem;
}
h2{
    margin-bottom: 8% !important
}
/* .coverForEntity{
    width: 100%;
    background: #f7f8fa;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: ;
} */